# /etc/inputrc - global inputrc for libreadline
# See readline(3readline) and `info rluserman' for more information.

# Be 8 bit clean.
set input-meta on
set output-meta on

# To allow the use of 8bit-characters like the german umlauts, uncomment
# the line below. However this makes the meta key not work as a meta key,
# which is annoying to those which don't need to type in 8-bit characters.

# set convert-meta off

# try to enable the application keypad when it is called.  Some systems
# need this to enable the arrow keys.
# set enable-keypad on

# see /usr/share/doc/bash/inputrc.arrows for other codes of arrow keys

# do not bell on tab-completion
# set bell-style none
# set bell-style visible

# some defaults / modifications for the emacs mode
$if mode=emacs

# allow the use of the Home/End keys
"\e[1~": beginning-of-line
"\e[4~": end-of-line

# allow the use of the Delete/Insert keys
"\e[3~": delete-char
"\e[2~": quoted-insert

# mappings for "page up" and "page down" to step to the beginning/end
# of the history
# "\e[5~": beginning-of-history
# "\e[6~": end-of-history

# alternate mappings for "page up" and "page down" to search the history
# "\e[5~": history-search-backward
# "\e[6~": history-search-forward

# mappings for Ctrl-left-arrow and Ctrl-right-arrow for word moving
"\e[1;5C": forward-word
"\e[1;5D": backward-word
"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word

$if term=rxvt
"\e[8~": end-of-line
"\eOc": forward-word
"\eOd": backward-word
$endif

# for non RH/Debian xterm, can't hurt for RH/Debian xterm
# "\eOH": beginning-of-line
# "\eOF": end-of-line

# for freebsd console
# "\e[H": beginning-of-line
# "\e[F": end-of-line

$endif

# show all possibilities when typing TAB, instead of TAB-TAB
set show-all-if-ambiguous on
set completion-ignore-case on

# Type something and up or down to search commands beginning with
# something
control-p: history-search-backward
control-n: history-search-forward
"\e[A": history-search-backward # up arrow
"\e[B": history-search-forward  # down arrow

###################################################################
#
#                                                            macros
#
#    In the terminal, type bind -p to list all the key bindings and
#    their functions. grep "\\C-<char>" to see if C-<char> has already
#    been defined by default. You can use it if it's not there or in
#    this file.
#
#    You can find the char code for a key by pressing C-v at the
#    prompt, or C-q in emacs, for "quoted-insert", followed by the
#    key. It's probably safer to use the prompt, because autopair
#    inserts closing brackets.
#
###################################################################

# # refresh playlist and start mplayer
# "\C-x\C-m": "find /home/nahn/nt/music/ -type f > ~/nt/mplayer/mplayer.pls; find /home/nahn/nt/2013/ -type f >> ~/nt/mplayer/mplayer.pls \n"
# # start mplayer without refreshing playlist
# "\C-x\C-p": "mplayer -fs -shuffle -loop 0 -playlist ~/nt/mplayer/mplayer.pls \n"

# show the date
"\C-x\C-d": "date\n"
